<h1>Coordinates Lookup</h1>

  <form>
    <div> <!-- what is the 'for' and 'name' codes?> -->
      <label for="first" >ADDRESS</label>
      <input name="address" type="text" id="address">
    </div>

<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
